extends layout

block content
  h1= title
  p Welcome to #{title}!
  if projects.length > 0
    p Browse one of the following projects:
    ul(class='project-list')
      each project in projects
        li 
          a(href="#{project.name}") #{project.name}
  if can_upload
    a(href="/upload", title="Create a new project") Create a new project