extends layout

block content
  h1 Upload
  if uploadResult
    if uploadResult.success
      p Upload successful
    else 
      p Upload failed
    a(href="/upload") Upload another snapshot
  else
    p Upload a new snapshot
    form(action="/upload", method='post', enctype='multipart/form-data')
      p
        input(type='file', name="database")
      label(for="projectname") Project name:
        input(type='text', name="projectname")
      div
        input(type='submit')
  a(href="/", title="Home") Go to Home