doctype html
html
  head
    title= title
    link(rel='stylesheet', href="#{site.baseUrl}/stylesheets/style.css")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    block stylesheets
  body
    block content
